/*  =========================================================================
    BORDER STYLE
    ========================================================================= */

$border-style-values: (
    'none': none,
    'hidden': hidden,
    'dotted': dotted,
    'dashed': dashed,
    'solid': solid
);

$border-style-settings: (
    'responsive' : false,
    'hover'      : true,
    'class'      : 'b-st-',
    'values'     : $border-style-values
);

$border-top-style-settings: (
    'responsive' : false,
    'hover'      : true,
    'class'      : 'b-st-top-',
    'values'     : $border-style-values
);

$border-right-style-settings: (
    'responsive' : false,
    'hover'      : true,
    'class'      : 'b-st-right-',
    'values'     : $border-style-values
);

$border-bottom-style-settings: (
    'responsive' : false,
    'hover'      : true,
    'class'      : 'b-st-bottom-',
    'values'     : $border-style-values
);

$border-left-style-settings: (
    'responsive' : false,
    'hover'      : true,
    'class'      : 'b-st-left-',
    'values'     : $border-style-values
);

@include writeClasses('border-style', $border-style-settings);

@include writeClasses('border-top-style', $border-top-style-settings);

@include writeClasses('border-right-style', $border-right-style-settings);

@include writeClasses('border-bottom-style', $border-bottom-style-settings);

@include writeClasses('border-left-style', $border-left-style-settings);