/*  =========================================================================
    MARGIN
    ========================================================================= */

$margin-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'm-',
    'values'    : $global-spacing
);

$margin-top-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'mt-',
    'values'    : $global-spacing
);

$margin-right-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'mr-',
    'values'    : $global-spacing
);

$margin-bottom-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'mb-',
    'values'    : $global-spacing
);

$margin-left-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'ml-',
    'values'    : $global-spacing
);


@include writeClasses('margin', $margin-settings);

@include writeClasses('margin-top', $margin-top-settings);

@include writeClasses('margin-right', $margin-right-settings);

@include writeClasses('margin-bottom', $margin-bottom-settings);

@include writeClasses('margin-left', $margin-left-settings);


$negative-margin-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'nm-',
    'values'    : $global-spacing
);

$negative-margin-top-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'nmt-',
    'values'    : $global-spacing
);

$negative-margin-right-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'nmr-',
    'values'    : $global-spacing
);

$negative-margin-bottom-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'nmb-',
    'values'    : $global-spacing
);

$negative-margin-left-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'nml-',
    'values'    : $global-spacing
);


@include writeClasses('margin', $negative-margin-settings);

@include writeClasses('margin-top', $negative-margin-top-settings);

@include writeClasses('margin-right', $negative-margin-right-settings);

@include writeClasses('margin-bottom', $negative-margin-bottom-settings);

@include writeClasses('margin-left', $negative-margin-left-settings);