/*  =========================================================================
    OVERFLOW
    ========================================================================= */

$overflow-values: (
    'visible' : visible,
    'hidden'  : hidden,
    'scroll'  : scroll,
    'auto'    : auto
);

$overflow-settings: (
    'responsive' : true,
    'hover'      : false,
    'class    '  : 'ov-',
    'values': $overflow-values
);

$overflow-x-settings: (
    'responsive' : true,
    'hover'      : false,
    'class    '  : 'ov-x-',
    'values': $overflow-values
);

$overflow-y-settings: (
    'responsive' : true,
    'hover'      : false,
    'class    '  : 'ov-y-',
    'values': $overflow-values
);


@include writeClasses('overflow', $overflow-settings);

@include writeClasses('overflow-x', $overflow-x-settings);

@include writeClasses('overflow-y', $overflow-y-settings);