/*  =========================================================================
    PADDING
    ========================================================================= */

$padding-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'p-',
    'values'    : $global-spacing
);

$padding-top-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'pt-',
    'values'    : $global-spacing
);

$padding-right-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'pr-',
    'values'    : $global-spacing
);

$padding-bottom-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'pb-',
    'values'    : $global-spacing
);

$padding-left-settings: (
    'responsive': true,
    'hover'     : false,
    'class'     : 'pl-',
    'values'    : $global-spacing
);


@include writeClasses('padding', $padding-settings);

@include writeClasses('padding-top', $padding-top-settings);

@include writeClasses('padding-right', $padding-right-settings);

@include writeClasses('padding-bottom', $padding-bottom-settings);

@include writeClasses('padding-left', $padding-left-settings);