/*  =========================================================================
    FRAME
    ========================================================================= */

/*

Centering content.

*/


.o-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}