/*  =========================================================================
    INPUTS
    ========================================================================= */

/*

Extra resets for inputs.

*/

[type="submit"] {
    cursor: pointer;
}
input:invalid {
    box-shadow: none;
}
